Load the html using beautifulsoup

In [1]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(open("bankstatement.html"), "html.parser")

Then, parse the properties based on the html tag

In [2]:
accountname = soup.find('p', {'b' : '520'})
accountaddress = soup.find_all('p', {'b' : ('566','608','651','694')})
statementdate = soup.find('p', {'b' : '1119'})
accountnumber =  soup.find('p', {'b' : ('1691')})
list_transaction_1 = soup.find_all('p', {'baseline' : ('1098','1083')})
list_transaction_2 = soup.find_all('p', {'baseline' : ('1208','1251')})
list_transaction_3 = soup.find_all('p', {'baseline' : ('1318','1361')})
list_transaction_4 = soup.find_all('p', {'baseline' : ('1428','1471')})
list_transaction_5 = soup.find_all('p', {'baseline' : ('1538','1581')})

Remove the tags and extract the text only

In [3]:
Name = accountname.text
Address = accountaddress[0].text + accountaddress[1].text + ' ' + accountaddress[2].text + ' ' +accountaddress[3].text
Statement_Date = statementdate.text
Account_Number = accountnumber.text
Transaction_1 = list_transaction_1[1].text + ',' + list_transaction_1[2].text + ',' + list_transaction_1[0].text
Transaction_2 = list_transaction_2[0].text + ',' + list_transaction_2[1].text + ',' + list_transaction_2[2].text + ',' + list_transaction_2[3].text
Transaction_3 = list_transaction_3[0].text + ',' + list_transaction_3[1].text + ',' + list_transaction_3[2].text + ',' + list_transaction_3[3].text
Transaction_4 = list_transaction_4[0].text + ',' + list_transaction_4[1].text + ',' + list_transaction_4[2].text + ',' + list_transaction_4[3].text
Transaction_5 = list_transaction_5[0].text + ',' + list_transaction_5[1].text + ',' + list_transaction_5[2].text + ',' + list_transaction_5[3].text

In [4]:
print(Name, Address, Statement_Date, Account_Number, Transaction_1)

(u'JOHN RIEGER', u'KTGIF SINGAPORE PTE. LTD.26B TEMPLE STREET #03-00 SINGAPORE 058571', u'ACCOUNT SUMMARY | As at 31 Aug 2018', u'12-145753-2', u'28 Aug,Quick Cheque Deposit,1.254.12')

In [5]:
name = []
address = []
statement_date = []
account_number = []
transaction_1 = []
transaction_2 = []
transaction_3 = []
transaction_4 = []
transaction_5 = []

Append the value and after that store it in a dataframe

In [6]:
name.append(Name)
address.append(Address)
statement_date.append(Statement_Date)
account_number.append(Account_Number)
transaction_1.append(Transaction_1)
transaction_2.append(Transaction_2)
transaction_3.append(Transaction_3)
transaction_4.append(Transaction_4)
transaction_5.append(Transaction_5)

In [7]:
import pandas as pd

ocr_output = pd.DataFrame({"Name":[name,None,None,None,None],
                           "Address":[address,None,None,None,None],
                           "Statement_Date":[statement_date,None,None,None,None],
                           "Account_Number":[account_number,None,None,None,None],
                           "Transaction":[transaction_1,transaction_2,transaction_3,transaction_4,transaction_5]
                          })

In [8]:
ocr_output

,Account_Number,Address,Name,Statement_Date,Transaction
0,[12-145753-2],[KTGIF SINGAPORE PTE. LTD.26B TEMPLE STREET #0...,[JOHN RIEGER],[ACCOUNT SUMMARY | As at 31 Aug 2018],"[28 Aug,Quick Cheque Deposit,1.254.12]"
1,None,None,None,None,"[30 Aug,Point-of-Sale Transaction,20.00,TRANSI..."
2,None,None,None,None,"[30 Aug,Point-of-Sale Transaction,465.00,S & S..."
3,None,None,None,None,"[31 Aug,Point-of-Sale Transaction,26.50,GAYATR..."
4,None,None,None,None,"[31 Aug,Point-of-Sale Transaction,16.00,FOCUS ..."